option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: application.py
    
  aws:elasticbeanstalk:application:environment:
    DATABASE_URL: "postgresql://crmadmin:GaadiMech2024!@crm-portal-db.cnewyw0y0leb.ap-south-1.rds.amazonaws.com:5432/crmportal"
    FLASK_ENV: "production"
    RDS_HOST: "crm-portal-db.cnewyw0y0leb.ap-south-1.rds.amazonaws.com"
    RDS_DB: "crmportal"
    RDS_USER: "crmadmin"
    RDS_PASSWORD: "GaadiMech2024!"
    RDS_PORT: "5432"
    SECRET_KEY: "GaadiMech-Super-Secret-Key-Change-This-2024"
    PYTHONPATH: "/var/app/current:$PYTHONPATH"
    FLASK_APP: "application.py" 