container_commands:
  01_create_tables:
    command: "source /var/app/venv/*/bin/activate && python -c 'from application import application, db; application.app_context().push(); db.create_all()'"
    leader_only: true
option_settings:
  aws:elasticbeanstalk:application:environment:
    LC_ALL: en_US.UTF-8
    LANG: en_US.UTF-8
  aws:elasticbeanstalk:container:python:
    NumProcesses: 1
    NumThreads: 15 