option_settings:
  aws:elasticbeanstalk:application:environment:
    DATABASE_URL: "postgresql://postgres:GaadiMech2024!@gaadimech-crm-db.cnewyw0y0leb.ap-south-1.rds.amazonaws.com:5432/crmportal"
    RDS_HOST: "gaadimech-crm-db.cnewyw0y0leb.ap-south-1.rds.amazonaws.com"
    RDS_DB: "crmportal"
    RDS_USER: "postgres"
    RDS_PASSWORD: "GaadiMech2024!"
    RDS_PORT: "5432"
    SECRET_KEY: "GaadiMech-Super-Secret-Key-Change-This-2024"
    PYTHONPATH: "/var/app/current:$PYTHONPATH"
    FLASK_ENV: "production"
    
  aws:elasticbeanstalk:container:python:gunicorn:
    NumProcesses: 1
    NumThreads: 15
    Timeout: 120
    
  aws:elbv2:loadbalancer:
    IdleTimeout: 120
    
  aws:elasticbeanstalk:command:
    Timeout: 600

files:
  "/opt/elasticbeanstalk/tasks/bundlelogs.d/01-sample.conf":
    mode: "000644"
    owner: root
    group: root
    content: |
      /var/log/nginx/error.log
      /var/log/web.stdout.log 