option_settings:
  aws:elasticbeanstalk:application:
    Application Healthcheck URL: /health
    
  aws:elasticbeanstalk:healthreporting:system:
    SystemType: enhanced
    HealthCheckSuccessThreshold: Ok
    IgnoreHealthCheck: false
    
  aws:autoscaling:launchconfiguration:
    SecurityGroups: "sg-0bb9c4cad7067b6c9,sg-0f3bb542cf7ad7e17"
    
  aws:ec2:vpc:
    VPCId: vpc-0a5b8f96af591ded4
    Subnets: "subnet-0ed5c39c9daa8b5f1,subnet-025e85ed42e88ee5b"
    ELBSubnets: "subnet-0ed5c39c9daa8b5f1,subnet-025e85ed42e88ee5b"
    
commands:
  01_restart_app:
    command: "supervisorctl restart web"
    ignoreErrors: true 