option_settings:
  aws:elasticbeanstalk:application:
    Application Healthcheck URL: /
  aws:elasticbeanstalk:environment:process:default:
    HealthCheckPath: /
    MatcherHTTPCode: 200,302
    HealthCheckTimeout: 15
    HealthCheckInterval: 30
    HealthyThresholdCount: 3
    UnhealthyThresholdCount: 5
    DeregistrationDelay: 20
    Port: 80
    Protocol: HTTP 